

<div class="columns is-mobile is-centered">
  <div class="column is-half">

<h2 class="title is-2"><%= @book.title %></h2>

<% if @book.image.present? %>
  <div class="card-image">
    <figure class="image">
    <%= image_tag @book.image %>
    </figure>
  </div>
<% end %>
<article class="message is-dark">
<div class="message-header">
</div>
<div class="message-body">


<p>
  <strong>Genre: </strong>
  <%= link_to @book.category.name, @book.category %>
</p>

<p>
  <strong>Author: </strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description: </strong>
  <%= @book.description %>
</p>

<p>
  <strong>Year: </strong>
  <%= @book.year %>
</p>

<p>
  <strong>Price: </strong>
  <%= number_to_currency @book.price / 100.0 %>
</p>
<div>
  <%= form_with url: cart_index_path, method: :post do %>
    <%= hidden_field_tag(:id, @book.id)%>
    <%= button_tag 'Add to Cart', class: "button is-primary"%>
  <% end %>
</div>

</div>
</div>

</div>
</article>